<ion-view view-title="Playists - Code de la route">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="playlist in playlists"
                type="item-text-wrap"
                href="#/tab/chats/{{playlist.id}}">
        <img ng-src="{{playlist.face}}" style="width: 50px; height: 50px">
        <h2>{{playlist.name}}</h2>
        <p>{{playlist.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(playlist)">
          Delete
        </ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
