<ion-view view-title="Video">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-if="!settings.enableFriends" ng-model="settings.enableFriends">
        Montrer la réponse
    </ion-toggle>
    <ion-toggle  ng-if="settings.enableFriends" ng-model="settings.enableFriends">
        Revenir à la question
    </ion-toggle>	
		<div class="embed-responsive embed-responsive-16by9" ng-if="settings.enableFriends">
            <youtube-video class="embed-responsive-item" video-id="r"></youtube-video>
            <!--<iframe src="{{r}}" frameborder="0" allowfullscreen></iframe>-->
		</div>
		<div class="embed-responsive embed-responsive-16by9" ng-if="!settings.enableFriends">
			<youtube-video class="embed-responsive-item" video-id="q"></youtube-video>
		</div>
    </ion-list>
  </ion-content>
</ion-view>
